<p id="notice"><%= notice %></p>

<h1>V2 Needs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Budgeted</th>
      <th>Allocated</th>
      <th>Purchased</th>
      <th>Abandoned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @v2_needs.each do |v2_need| %>
      <tr>
        <td><%= v2_need.user %></td>
        <td><%= v2_need.item %></td>
        <td><%= v2_need.budgeted %></td>
        <td><%= v2_need.allocated %></td>
        <td><%= v2_need.purchased %></td>
        <td><%= v2_need.abandoned %></td>
        <td><%= link_to 'Show', v2_need %></td>
        <td><%= link_to 'Edit', edit_v2_need_path(v2_need) %></td>
        <td><%= link_to 'Destroy', v2_need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New V2 Need', new_v2_need_path %>
